.div_main {
    padding-left: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    justify-content: start;

    p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-weight: bold;
    }

    button {
        color: white;
        background-color: rgb(226, 94, 0);
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 10px;
    }

    button:hover {
        background-color: rgb(37, 179, 27);
    }
}