.teacher-timetable {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 8px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }

    .day-card {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        border-radius: 10px;

        .subject-item {
            padding: 12px;
            border: 1px solid #03bb25;
            border-radius: 10px;
            margin-bottom: 10px;
            background: #91f2a1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.2s ease;

            &:hover {
                background: #ffffff;
                transform: translateY(-2px);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
            }

            .left {
                .subject-name {
                    font-weight: 600;
                    font-size: 16px;
                }

                .class-info {
                    font-size: 13px;
                    color: #ff1515;
                }
            }

            .right {
                text-align: right;

                .time {
                    font-weight: 600;
                }

                .status {
                    font-size: 12px;
                    color: #051309;
                }
            }
        }
    }
}